@import '../../styles/variables.scss';

#signForm {
  @include flexCenter;
  @include size(100%, 100vh, $p: 0 4rem);

  .cont {
    max-width: 60rem;
    width: 100%;
    .cnt_div {
      position: relative;
      @include size(100%, $p: 0 0 2.4rem 0);
      label {
        font-size: 1.6rem;
      }
      input {
        @include size(100%, $m: 0.8rem 0 0, $p: 1.2rem 0.8rem);
        border: 1px solid #101010;
        font-size: 1.4rem;
      }
      &:last-child {
        padding-bottom: 0;
      }
      .alert_txt {
        position: absolute;
        bottom: 0.8rem;
        left: 0;
        font-size: 1.2rem;
        color: #dd3523;
      }
    }
    .cnt_btm {
      @include flexSpaceBetween;
    }
    .btn_black {
      @include size(48%, $m: 2rem 0 0, $p: 1.2rem 0.8rem);
      background: #101010;
      color: #fff;
      border-radius: 0.4rem;
      font-size: 1.6rem;
      &:disabled {
        background: #a2a2a2;
      }

      &.v2 {
        background: #1f0f78;
        &:disabled {
          background: #a2a2a2;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
}
